/* Body */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f7f7f7;
    margin: 0;
    font-size: 16px;
}

h1, h2 {
    color: #333;
}

/* Container */
.container {
    max-width: 1170px; /* 1200 */
    margin: auto;
    overflow: auto;
}

/* Card Design for Contacts */
.contact-item {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex; /* grid */
    /* grid-template-columns: 2fr 1fr 1fr 1fr auto; */
    /* gap: 10px; */
    justify-content: space-between;
    align-items: center;
}

.contact-item h3 {
    margin: 0;
    color: #333;
}

.contact-item p {
    margin: 0;
}


/* Button */
button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.edit:hover {
    background-color: #45a049;
}

.delete-button {
    background-color: #f44336;
}

button:hover {
    opacity: 0.9;
}

/* Input Styles */
input[type='text'],
input[type='email'],
input[type='tel'] {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;
}

/* Form Submission Button */
input[type='submit'] {
    background-color: #008CBA; /* Different color for primary action */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type='submit']:hover {
    background-color: #007B9E;
}

/* Layout Adjustments */
#addContactForm {
    display: grid;
    grid-template-columns: repeat(4, 1fr) auto;
    gap: 10px;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
}

#contactsList {
    margin-top: 30px;
}


.form-group:last-child {
    align-self: center;
    justify-self: end;
}



/* Form */
/*.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
}

button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid #f44336;
}

#contactsList {
    margin-top: 20px;
}


.contact-item {
    background: #ffffff;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-item h3 {
    margin: 0;
    color: #333;
    font-size: 20px;
}

.contact-item p {
    margin: 5px 0;
}
*/